*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  margin: 0;
  width: 100%;
  max-width: 1200px;
}
header{
  background-color: rgb(34, 96, 147);
  flex: 0 0 30%;
  color: aliceblue;
  text-align: center;
  width: 200px;
}
header .logo{
  margin-top: 75px;
}
header img{
  width: 55px;
}
h1{
  font-size: 35px;
  font-weight: normal;
}
nav ul{
  display: inline-block;
  list-style: none;
  padding: 0;
  margin-top: 50px;
  text-align: left;
}
nav ul li{
  margin: 35px 0;
}
header a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
}
header a:active{
  color: yellow;
}
main{
  margin: 50px;
}
.hero{
  width: 100%;
  margin: 0;
}
.welcome{
  margin-top: 50px ;
}
.welcome p{
  margin: 30px auto;
}
h2{
  font-weight: normal;
  color: rgb(34, 96, 147);
  font-size: 30px;
}
p{
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
}
.about{
  display: flex;
  margin-top: 50px;
  padding: 0;
}
.about h2,.gallery h2,.contact h2{
  font-size: 25px;
}
.about h2{
  margin-bottom: 10px;
}
.text{
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 20px;
}
.text p{
  margin: 10px 0 0;
}
.about img{
  width: auto;
  height: 310px;
}
.btn{
  display: inline-block;
  text-align: center;
  background-color:  rgb(34, 96, 147);
  color: #fff;
  text-decoration: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0 auto;
  width: 150px;
  padding: 15px 20px;
}
.gallery-row{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.gallery-row li{
  list-style-type: none;
}
.gallery-row img{
  flex: 1;
  width: 120px;
  height: auto;
}
.contact{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  max-width: 1000px;
}
form{
  width: 300px;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: rgb(34, 96, 147);
  font-size: 16px;
  font-weight: 300;
}
form h2{
  margin-bottom: 20px;
}
form label{
  display: flex;
  border: 1.5px solid rgb(34, 96, 147);
  margin-bottom: 10px;
  padding: 5px 10px;
  gap: 5px;
  width: 340px;
}
form input,form textarea{
  border: none;
  outline: none;
  padding: 5px;
}
form textarea{
  height: 200px;
  resize: none;
}
.form-text{
  width: 315px;
  margin: 50px 0;
}
.form-text p{
  height: 130px;
}
.form-text .p2{
  width: 255px;
}
footer{
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 30px;
}
footer a{
  text-decoration: none;
  color: rgb(34, 96, 147);
}
